.venv/
__pycache__/
*.pyc
venv/

checkpoints/
data/tokenizer.json
data/raw/
data/*.bin
data/dataset_metadata.json
*.pt
*.pth
*.ckpt
*.safetensors
.env
.env.*

# deployment / OS
.DS_Store
*.log
.render-buildlogs/